<% include ../header %>

	<div class="wrapper">
		<div class="col-xs-9">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Usuário</th>
						<th>Senha</th>
					</tr>
				</thead>
				<tbody>
					<% users.forEach(function(x) { %>
						<tr>
							<td>
								<%= x.usuario %>
							</td>
							<td>
								<%= x.senha %>
							</td>
						</tr>
					<% }); %>
				</tbody>
			</table>
		</div>
	</div>

	<% include ../footer %>